<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>

      <div class="chart-wrapper container" id="chart-wrapper" ></div>

   

  
        <button id="getChart">Get chart</button>


    <script src="js/chart.js"></script>
       
</body>
</html>

<style>
    .chart-wrapper{
        background-color: white;
        display: flex;
        justify-content: center;
        padding: 1rem;
    }
</style>

<script>



      
    


       const registerFormHandler = async e => {
        e.preventDefault()

    
            response = await fetch('/api/users/4', {
                method: 'GET',
                headers: {'Content-Type': 'application/json'},
            });

            if (response.ok){
     
                const responseData = await response.json()

                console.log(responseData)
      
                drawChart(responseData)
            } else {
                const errorSlot = document.getElementById('error')
                errorSlot.textContent = 'Something went wrong :('
            }
        
    } 

    const cgetChart = document.getElementById('getChart')
    .addEventListener('click', registerFormHandler)


    const drawChart = (input) => {
        let entries = []
        input.habits.forEach(habit => habit.entries.forEach(entry => entries.push(entry)))
        console.log(entries)

        //https://quickchart.io/chart?c={type:'bar',data:{labels:[2012,2013,2014,2015,2016],datasets:[{label:'Users',data:[120,60,50,180,120]}]}}

       let draw = document.getElementById('chart-wrapper')
       let chartImg =  document.createElement("IMG")
        chartImg.src = "https://quickchart.io/chart/render/zm-72a6341c-82b2-4557-a55f-144bd2bb5648?data1=50,40,30,20"
       draw.appendChild(chartImg)

       console.log(draw)


    }

    

</script>

