 <section class="stack" id="stack">
            <h2>Today's Stack</h2>
            <div class="horiz-scroll">
                <div class="card">
                    <h3>50 Push Ups</h3>
                    <div class="row">
                        <div class="slot"></div>
                        <div class="slot"></div>
                        <div class="slot"></div>
                        <div class="slot"></div>
                        <div class="slot"></div>
                        <div class="slot"></div>
                        <div class="slot"></div>
                    </div>
                    <div class="habit-info">
                        <p>Goal: 5 days/week</p>
                        <p>This week: 1/2</p>
                        <p>Current streak: 10 days</p>
                        <p>Tags: <a href="">#health</a> <a href="">#discipline</a> <a href="">#family</a>  </p>
                    </div>
                    <div class="actions">
                        <button class="no">x</button>
                        <button class="skip">skip</button>
                        <button class="yes">y</button>
                    </div>
                </div>
                <div class="card">
                    <h3>Walk the Dog</h3>
                    <div class="row">
                        <div class="slot"></div>
                        <div class="slot"></div>
                        <div class="slot"></div>
                        <div class="slot"></div>
                        <div class="slot"></div>
                        <div class="slot"></div>
                        <div class="slot"></div>
                    </div>
                    <p>Goal: 5 days/week</p>
                    <p>This week: 1/2</p>
                    <p>Current streak: 10 days</p>
                    <p>Tags: <a href="">#health</a> <a href="">#discipline</a> <a href="">#family</a>  </p>
                    <div class="actions">
                        <button class="no">x</button>
                        <button class="skip">skip</button>
                        <button class="yes">y</button>
                    </div>
                </div>
                <div class="card">
                    <h3>Walk the Dog</h3>
                    <div class="row">
                        <div class="slot"></div>
                        <div class="slot"></div>
                        <div class="slot"></div>
                        <div class="slot"></div>
                        <div class="slot"></div>
                        <div class="slot"></div>
                        <div class="slot"></div>
                    </div>
                    <p>Goal: 5 days/week</p>
                    <p>This week: 1/2</p>
                    <p>Current streak: 10 days</p>
                    <p>Tags: <a href="">#health</a> <a href="">#discipline</a> <a href="">#family</a>  </p>
                    <div class="actions">
                        <button class="no">x</button>
                        <button class="skip">skip</button>
                        <button class="yes">y</button>
                    </div>
                </div>
                <div class="card">
                    <h3>Walk the Dog</h3>
                    <div class="row">
                        <div class="slot"></div>
                        <div class="slot"></div>
                        <div class="slot"></div>
                        <div class="slot"></div>
                        <div class="slot"></div>
                        <div class="slot"></div>
                        <div class="slot"></div>
                    </div>
                    <p>Goal: 5 days/week</p>
                    <p>This week: 1/2</p>
                    <p>Current streak: 10 days</p>
                    <p>Tags: <a href="">#health</a> <a href="">#discipline</a> <a href="">#family</a>  </p>
                    <div class="actions">
                        <button class="no">x</button>
                        <button class="skip">skip</button>
                        <button class="yes">y</button>
                    </div>
                </div>
                <div class="card">
                    <h3>Walk the Dog</h3>
                    <div class="row">
                        <div class="slot"></div>
                        <div class="slot"></div>
                        <div class="slot"></div>
                        <div class="slot"></div>
                        <div class="slot"></div>
                        <div class="slot"></div>
                        <div class="slot"></div>
                    </div>
                    <p>Goal: 5 days/week</p>
                    <p>This week: 1/2</p>
                    <p>Current streak: 10 days</p>
                    <p>Tags: <a href="">#health</a> <a href="">#discipline</a> <a href="">#family</a>  </p>
                    <div class="actions">
                        <button class="no">x</button>
                        <button class="skip">skip</button>
                        <button class="yes">y</button>
                    </div>
                </div>
    
            </div>
        </section>