<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <script src="https://kit.fontawesome.com/1939b32d5e.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <div class="title">Habit Stack</div>

            <ul>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Login</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
 <section class="hero">
            <article class="hero-text">
                <h1>Habit Stack</h1>
                <p>A simple tool to help you build habits that stick through reminder, repetition, and celebration.</p>
            </article>
            <button>Sign up now!</button>
        </section>
        <section class="hero-2">
            <div class="bg"></div>
            <article class="hero-text">
                <h2>Your Stack</h2>
            </article>
            <div class="row">
                <h5>Walk the Dog</h5>
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
            </div>
            <div class="row">
                <h5>Morning Yoga</h5>
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
            </div>
            <div class="row">
                <h5>Eat Healthy</h5>
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
            </div>
            <button>Add new habit</button>
            <article class="hero-text">
                <h2>Your Reports</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, ipsam.</p>
            </article>
            <article class="hero-text">
                <h2>Your Reminders</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum esse placeat at quia praesentium natus dicta veniam necessitatibus magni, ipsum magnam, provident reiciendis voluptatibus, enim dolores? </p>
            </article>
        </section> 
        <section>
            <article class="card">
                <div class="card-title">
                    <h4>Add new habit to stack</h4>

                     <form action="post">

                            <div class="ad-lib-copy">
                                <span>I will</span> <input type="text" placeholder="habit"/>  <select width=""><option>Weekly</option></select>.
                                <span>I want to get a reminder</span> <input type="text" placeholder="mornings"  /><span>twice a day</span>
                            </div>
                     </form>

                </div>
                    </article>
        </section>
    </main>
    <footer>
        <ul>
            <li>This is our placeholder footer</li>
        </ul>
    </footer>
</body>
</html>