
        <section class="hero" id="login">
            <form action="#">

                <div class="ig">
                    <label for="email">Email:</label>
                    <input type="text" name="email" id="email">
                </div>

                <div class="ig">
                    <label for="pw">Password:</label>
                    <input type="password" name="pw" id="pw">
                </div>
                <button type="submit">Login</button>
            </form>

        </section>
