<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <script src="https://kit.fontawesome.com/1939b32d5e.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <div class="title">Habit Stack</div>

            <ul>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Login</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>

        <section class="hero" id="login">
            <form action="#">

                <div class="ig">
                    <label for="email">Email:</label>
                    <input type="text" name="email" id="email">
                </div>

                <div class="ig">
                    <label for="pw">Password:</label>
                    <input type="password" name="pw" id="pw">
                </div>
                <button type="submit">Login</button>
            </form>

        </section>





    </main>
    <footer>
        <ul>
            <li>This is our placeholder footer</li>
        </ul>
    </footer>
    <script src="../public/style.css"></script>
</body>
</html>