
        <section class="hero" id="login">
            <form action="#">
                <div class="ig">
                    <label for="fname">First:</label>
                    <input type="text" name="fname" id="fname">
                </div>
                <div class="ig">
                    <label for="lname">Last:</label>
                    <input type="text" name="lname" id="lname">
                </div>
                <div class="ig">
                    <label for="email">Email:</label>
                    <input type="text" name="email" id="email">
                </div>
                <div class="ig">
                    <label for="phone">Phone:</label>
                    <input type="text" name="email" id="email">
                </div>
                <div class="ig">
                    <label for="pw">Password:</label>
                    <input type="password" name="pw" id="pw">
                </div>
                <div class="ig">
                    <label for="opt">Allow text reminders</label>
                    <input type="checkbox" name="opt" id="opt">
                </div>
                <button type="submit">Create Account</button>
            </form>
        </section>
