       <section class="hero-2" id="stacks">
            <div class="bg"></div>
            <article class="hero-text">
               <h2>{{user.first_name}}'s Stack</h2>
            
               
            </article>




            {{#each habits as |habit|}}
                
            <div class="row">
                <h5>{{habit.name}}</h5>
                {{#each week as |day |}}
     
                <div class='slot
                {{#if day.isFuture}}future{{/if}}'
                {{#if day.isToday}}id="today"{{/if}}
     
                >  
                
                </div>



                {{/each}}
                {{!-- {{#each entries as |entry| }}
                
                    <div class="slot"></div>
                {{/each}}
        --}}
            </div>

            <p class="habit_descrip">{{habit.description}}</p>
            <br>


            {{/each}}


            {{!-- {{#each habits}}
            {{/each}} --}}

{{!-- <div class="row">
    <h5>Dynamically created!</h5>
{{#each days as |day |}}
   <div class='slot
   {{#if day.isFuture}}future{{/if}}'
   {{#if day.isToday}}id="today"{{/if}}
   ></div>
{{/each}}
</div> --}}
   
            <button id="new_habit">Add new habit</button>
            <button id="stacker">Stack em!</button>
            <article class="hero-text">
                <h2>Your Reports</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, ipsam.</p>
            </article>
            <article class="hero-text">
                <h2>Your Reminders</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum esse placeat at quia praesentium natus dicta veniam necessitatibus magni, ipsum magnam, provident reiciendis voluptatibus, enim dolores? </p>
            </article>
        </section> 

        <script>


const new_habit = document.getElementById('new_habit')
const userNum = window.location.pathname.split('/')[2]

new_habit.addEventListener('click', () => {
    location.assign(`/users/${userNum}/new`)
})
const stacker = document.getElementById('stacker')

stacker.addEventListener('click', () => {
    location.assign(`/users/${userNum}/stack`)
})

</script>