@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400;800&display=swap');


:root{
    --bg-color: #FCFAFA;
    --primary-color: #A4B8C4;
    --primary-dark: #6E8387;
    --accent: #0CCA4A;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'JetBrains Mono', monospace;
    background-color: #e0fde8;
    
}

main{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

/* header styling */
nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--accent);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    overflow: hidden;
}

.title{
    font-size: 1.3rem;
    line-height: 1.4rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #e0fde8;
}
nav ul{
    display: flex;
    justify-content: flex-end;
}

nav ul li{
    margin: 0.3rem;
    list-style: none;
}

nav  a{
    text-decoration: none;
    color: var(--bg-color);
    font-size: clamp(0.8rem, calc(0.8rem + 1vw), 1.4rem);
}


section{
    min-height: 100vh;
    max-width: 1000px;
    border-radius: 5px;
    margin: 0rem auto;
    /* background-color: var(--primary-color); */
    /* box-shadow: 10px 10px rgb(40, 48, 49); */
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.hero button{
    margin: 2rem auto;
}
.hero-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    position: relative;
}

.bg{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0CCA4A;
    opacity: 0.1;
    background-image:  radial-gradient(#e0fbfd 1.85px, transparent 1.85px), radial-gradient(#e0fbfd 1.85px, #0CCA4A 1.85px);
    background-size: 74px 74px;
    background-position: 0 0,37px 37px;
z-index: -1;
}

article p {
    max-width: 600px;
    margin: 1rem auto;
}

button{
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-family: monospace;
    font-weight: bold;
    background-color: var(--accent);
    color: var(--bg-color);
        box-shadow: 5px 5px rgb(40, 48, 49);
        transition-duration: .5s;

}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 0.5rem auto;
    padding: 0.5rem;
    background-color: var(--bg-color);
}

.slot{
    width: clamp(5px, calc(5px + 2vw), 35px);
    background-color: var(--accent);
    height: clamp(5px, calc(5px + 2vw), 35px);
    margin: 0.2rem 0.2rem;
    box-shadow: 3px 3px rgb(40, 48, 49);
}

#today::before{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.5rem;
    content: 'today';
    position: absolute;

}

#today{
    background-color: violet;
    position: relative;
}

.future{
    background-color: #bdc5ca;
}

/* .slot:nth-of-type(3){
    background-color: #ca0c5bce;
} */

h2{
    margin: 1rem auto;
}

h5{
    margin: 1rem 0.5rem;
}

.habit{
    background-color: #ca0c5b;
    font-size: 1rem;
    padding: 0.2rem 0.3rem;
    margin: 0.5rem;
}



button:hover, button:active{
    box-shadow: 1px 1px rgb(40, 48, 49);

}

i{
    display: inline;
    margin-top: -8rem;
    margin-left: 5rem;
}


h1{
    font-size: clamp(3rem, calc(2rem + 10vw), 8rem);
    line-height: 0.8em;
    text-align: center;
}

.hero p {
    margin: 1rem 0;
    font-size: 1rem;
    text-align: center;
}

.hero-text{
    max-width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
}

article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

footer{
    width: 100%;
    bottom: 0;
    background-color: var(--accent);
}

footer ul{
    display: flex;
    justify-content: center;
}

footer li{
    margin: 1rem;
    list-style: none;
    text-decoration: none;
    color: var(--bg-color);
    font-size: 1rem;

}




.card{
    position: absolute;
    top: 15%; 
    transform: (translateX(-50%)); 
    width: 90%;
    max-width: 350px;
    height: 400px;
    text-align: center;
    margin: 0rem auto;
    border: 2px solid black;
    border-radius: 5px;
    padding: 1rem;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition-duration: 1.5s;
    transition-property: transform;
}

.card h3{
    font-size: 1.5rem;

}

.card p{
    font-size: 1rem;
    text-align: center;
}

.habit-info{
    text-align: left;
}

.habit-info p{
    max-width: 90%;
    margin: 0 auto;
}

.no{
    background-color:#ca0c5b;
}

.skip{
    background-color: #0c84ca;
}



.stack{
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}
.stack h2{
    margin-top: 15vh;
    font-size: clamp(2rem, calc(2rem + 3vw), 5rem);
    text-align: center;
}

.add-habit{
    background-color: #A4B8C4;
}


.horiz-scroll{
    position: relative;
    width: 100%;
    /* margin-top: 5rem; */
    display: flex;
    justify-content: center;
    z-index: 0;
}

.card:nth-child(1){
    transform: translate(0rem, 0rem);
    opacity: 1;
    z-index: 10;
}

.card:nth-child(2){
    transform: translate(0.5rem, 0.5rem);

    z-index: 9;
}
.card:nth-child(3){
    transform: translate(1rem, 1rem);

    z-index: 8;
}
.card:nth-child(4){
    transform: translate(1.5rem, 1.5rem);

    z-index: 7;
}
.card:nth-child(5){
    transform: translate(2rem, 2rem);

    z-index: 6;
}


form{
    margin: auto;
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-color);
    padding: 2rem;
    box-shadow: 5px 5px rgb(40, 48, 49);
    border-radius: 5px;
    /* border: 1px solid black; */
    position: relative;
}

.ribbon{
    width: 100%;
    position: absolute;
    top: 0;
    background-color: var(--accent);
}

.ribbon h4{
    margin: 1rem;
}

.ig{
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.topper{
    margin-top: 5rem;
}


input{
    margin: 0 1rem;
    width: 20ch;
    max-width: 20ch;
    position: relative;
}

/* input::before{
    width: 100%;
    height: 100%;
    left: 0;
    top: -5px;
    content: "1";
    position: absolute;
}

input::after{
    right: 0;
    top: -5px;
    content: "7";
    position: absolute;
} */

input[type=range] {
    height: 34px;
    -webkit-appearance: none;
    background-color: var(--bg-color);
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 9px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #0CCA4A;
    border-radius: 25px;
    border: 1px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 2px 2px 0px #000000;
    border: 1px solid #000000;
    height: 25px;
    width: 8px;
    border-radius: 1px;
    background: var(--bg-color);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #0CCA4A;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 9px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #0CCA4A;
    border-radius: 25px;
    border: 1px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 2px 2px 0px #000000;
    border: 1px solid #000000;
    height: 25px;
    width: 8px;
    border-radius: 1px;
    background: var(--bg-color);
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 9px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #0CCA4A;
    border: 1px solid #000000;
    border-radius: 50px;
    box-shadow: 1px 1px 1px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #0CCA4A;
    border: 1px solid #000000;
    border-radius: 50px;
    box-shadow: 1px 1px 1px #000000;
  }
  input[type=range]::-ms-thumb {

    box-shadow: 2px 2px 0px #000000;
    border: 1px solid #000000;
    height: 25px;
    width: 8px;
    border-radius: 1px;
    background: var(--bg-color)
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #0CCA4A;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #0CCA4A;
  }

textarea{
    padding: 1rem;
}

label{
    margin-bottom: 1rem;
}

.col{
    flex-direction: column;
}


.habit_descrip{
    max-width: 400px;
    margin: 0rem auto;
}

.yes{
    position: relative;
}

#error{
    width: 90%;
    margin: 1rem auto;
    color:#ca0c0c;
}
