@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400;800&display=swap');


:root{
    --bg-color: #FCFAFA;
    --primary-color: #A4B8C4;
    --primary-dark: #6E8387;
    --accent: #0CCA4A;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'JetBrains Mono', monospace;
    background-color: #e0fde8;
    
}

/* header styling */
nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--accent);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    font-size: 1.3rem;
    line-height: 1.4rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #e0fde8;
}
nav ul{
    display: flex;
    justify-content: flex-end;
}

nav ul li{
    margin: 0.5rem;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: var(--bg-color);
    font-size: clamp(0.8rem, calc(0.8rem + 1vw), 1.4rem);
}


section{
    height: 100vh;
    max-width: 600px;
    border-radius: 5px;
    margin: 1rem auto;
    /* background-color: var(--primary-color); */
    /* box-shadow: 10px 10px rgb(40, 48, 49); */
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.hero button{
    margin: 2rem auto;
}
.hero-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    position: relative;
}

.bg{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0CCA4A;
    opacity: 0.1;
    background-image:  radial-gradient(#e0fbfd 1.85px, transparent 1.85px), radial-gradient(#e0fbfd 1.85px, #0CCA4A 1.85px);
    background-size: 74px 74px;
    background-position: 0 0,37px 37px;
z-index: -1;
}

button{
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-family: monospace;
    font-weight: bold;
    background-color: var(--accent);
    color: var(--bg-color);
        box-shadow: 5px 5px rgb(40, 48, 49);
        transition-duration: .5s;

}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 0.5rem auto;
    padding: 0.5rem;
    background-color: var(--bg-color);
}

.slot{
    width: clamp(20px, calc(20px + 2vw), 40px);
    background-color: var(--accent);
    height: clamp(20px, calc(20px + 2vw), 40px);
    margin: 0.5rem 0.2rem;
    box-shadow: 3px 3px rgb(40, 48, 49);
}

.slot:nth-of-type(3){
    background-color: #ca0c5bce;
}

h2{
    margin: 1rem auto;
}

h5{
    margin: 1rem 0.5rem;
}

.habit{
    background-color: #ca0c5b;
    font-size: 1rem;
    padding: 0.2rem 0.3rem;
    margin: 0.5rem;
}

button:hover, button:active{
    box-shadow: 1px 1px rgb(40, 48, 49);

}

i{
    display: inline;
    margin-top: -8rem;
    margin-left: 5rem;
}


h1{
    font-size: clamp(3rem, calc(2rem + 10vw), 8rem);
    line-height: 0.8em;
    text-align: center;
}

.hero p {
    margin: 1rem 0;
    font-size: 1rem;
    text-align: center;
}

.hero-text{
    max-width: 90%;
    margin: 0 auto;
}

article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{
    width: 100%;
    /* position: fixed; */
    bottom: 0;
    background-color: var(--accent);
    height: 4rem;
}

footer ul{
    display: flex;
    justify-content: center;
}

footer li{
    margin: 1rem;
    list-style: none;
    text-decoration: none;
    color: var(--bg-color);
    font-size: 1rem;

}
